#image{
    position:absolute;
    width: 50px;
    height: 50px;
}
.btn-top {
    background-image: url(../images/gototop.jpg);
    background-repeat: no-repeat;;
    bottom: 20px;
    cursor: pointer;
    height: 50px;
    padding: 0;
    position: fixed;
    right: 20px;
    width: 50px;
    z-index: 9999;
}