
html, body, object, iframe, h1, h2, h3, h4, h5, h6, pre, abbr, acronym, address, code, del, dfn, em,
q, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;

    outline-style: none;
    outline-width: 0;
    outline-color: -moz-use-text-color;

}

body {
    margin: 0px;
    padding: 0px;
    font-size: 13.2px;
    color: #034a82;
    font-family: arial;
}

html, body {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    font-size: 14px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

select, input, textarea {
    background-color: #FFFFFF;
    font-size: 14px;
    font-family: arial;
}

input, textarea {
    padding: 0px;
    font-family: arial;

}

form {
    border: none;
    margin: 0px;
    padding: 0px;
    display: inline;
}

a {
    color: #034a82;
}

a:hover {
    color: #00bbf3;
}

a:link, a:active, a:visited {
    text-decoration: none;
}

ul, ol, li, dl, dt, dd {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a img {
    border: 0;
}
.clrb {
    clear: both;
}

input.op_btn {
    padding: 0px;
    margin: 1px 0px 0px -1px;
    border: none;
    background: none;
    _width: 14px;
    _height: 14px;
    vertical-align: top;
}

input.chk_btn {
    padding: 0px;
    margin: 0px;
    border: none;
    width: 13px;
    height: 13px;
    background: none;
    vertical-align: bottom;
}

textarea {
    resize: none;
}

/*********** REMOVE BORDER INPUT, TEXT ARE FOR CHROME ***********/

input:active {
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: 0;
}

input:focus {
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: 0;
}

textarea:active {
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: 0;
}

textarea:focus {
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: 0;
}

select:active {
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: 0;
}

select:focus {
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: 0;
}
