
#main_login{
    /*margin-top: 100px;*/
    margin-top: 15% ;
    /*background-color: #0a86ab;*/

}

#body_login {
    /*background-color: #0f0f0f;*/
    /*background-image: url(../images/images.jpeg);*/
}

#table_login {
    width: 350px;
    height: 200px;
    border: 10px;
}

#body_register {
    /*background-color: #999999;*/
    /*background-image: url(../images/images.jpeg);*/
}

#main_register {
    margin-top: 15%;
    width: 500px;
    height: 500px;
}
#main_register
    .tbl_register  {

    width:500px;
    height: 500px;
    margin-right: 25%;
    background-color: #999999;

}

#tbl_main {
    background-color: #00FFFF;
}

#title_row {

    color: white;
    font-size: 50px;
    padding: 10px;
    border-color: #EEEEEE;
}

/*span:hover { background-color: #999999 }*/
 #title_row #menu_row {
    background-color: #8e0e12;
}

#menu_row span:hover { background-color: #999999 }

#admin  {
    background-color: #999999;

}

.table_quanly {
    background-color: #999999;
    color: #00bbf3;
}



#trangchu {

    width: 100px;
    padding: 10px; background-color: #0033ff;
    color: white;font-weight: bold; display:block; float: left;
    margin-right: 1px; text-align: center;
}

#thanhvien {

    width: 100px;
    padding: 10px; background-color: #0033ff;
    color: white;font-weight: bold; display:block; float: left;
    margin-right: 1px; text-align: center;
}

#bientap {

    width: 100px;
    padding: 10px; background-color: #0033ff;
    color: white;font-weight: bold; display:block; float: left;
    margin-right: 1px; text-align: center;
}

#loaitin {

    width: 100px;
    padding: 10px; background-color: #0033ff;
    color: white;font-weight: bold; display:block; float: left;
    margin-right: 1px; text-align: center;
}

#quangcao {

    width: 100px;
    padding: 10px; background-color: #0033ff;
    color: white;font-weight: bold; display:block; float: left;
    margin-right: 1px; text-align: center;
}

#theloai {

    width: 100px;
    padding: 10px; background-color: #0033ff;
    color: white;font-weight: bold; display:block; float: left;
    margin-right: 1px; text-align: center;
}

#tintuc {

    width: 100px;
    padding: 10px; background-color: #0033ff;
    color: white;font-weight: bold; display:block; float: left;
    margin-right: 1px; text-align: center;

    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#lienket {

    width: 100px;
    padding: 10px; background-color: #0033ff;
    color: white;font-weight: bold; display:block; float: left;
    margin-right: 1px; text-align: center;
}

#sukien {

    width: 100px;
    padding: 10px; background-color: #0033ff;
    color: white;font-weight: bold; display:block; float: left;
    margin-right: 1px; text-align: center;
}

#bbb {

    width: 100px;
    padding: 10px; background-color: #0033ff;
    color: white;font-weight: bold; display:block; float: left;
    margin-right: 1px; text-align: center;
}

#add_insert_delete span:hover {
    background-color: #00bbf3;
    font-style: italic;
    color: rebeccapurple;
}

#phantrang {
    background-color: #999999;
    color: red;

}

#tintuc {

    width: 100px;
    padding: 10px; background-color: #0033ff;
    color: white;font-weight: bold; display:block; float: left;
    margin-right: 1px; text-align: center;

}

